# Cache objects
**/packer_cache/

# Crash log
crash.log

# For built boxes
*.box

# Ignore dev & sensitive files
**/credentials.pkr.hcl
**/preseed_dev.cfg
**/*.env
provision/shared/vars.yml
provision/vars.yml
provision/hosts
scripts/restart_deluge.sh
