# Preseed configuration for Debian 11 (Bullseye)
#
# Configuration wrapped in {{  }} are to be replaced
# during execution via automation platform.
#
# Configuration reference:
# https://www.debian.org/releases/bullseye/example-preseed.txt

# Localisation
d-i debian-installer/locale string en_GB
d-i keyboard-configuration/xkb-keymap select gb(extd)

# Network
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string {{ host_name }}
d-i netcfg/get_domain string {{ domain }}
d-i netcfg/wireless_wep string

# Mirror
d-i mirror/country string manual
d-i mirror/http/hostname string ftp.uk.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

# Accounts
## Its usually recommended to use the encrypted has
## rather than plain-text passwords. As the password
## will be inserted at execution time, this is a very
## minimal risk for the environment this will run in.
d-i passwd/make-user boolean false
d-i passwd/root-password password {{ root_password }}
d-i passwd/root-password-again password {{ root_password }}

# Clock & Timezone
d-i clock-setup/utc boolean true
d-i time/zone string Europe/London
d-i clock-setup/ntp boolean true

# Partition
d-i partman-auto/method string lvm
d-i partman-auto-lvm/guided_size string max
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto/choose_recipe select atomic

d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman-md/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Apt
## Install ssh server but not gui
d-i apt-setup/cdrom/set-first boolean false
tasksel tasksel/first multiselect standard, ssh-server

# Ssh
## Configure key authentication
d-i preseed/late_command string in-target mkdir -p /root/.ssh; \
in-target /bin/sh -c "echo '{{ public_key }}' >> /root/.ssh/authorized_keys"; \
in-target chown -R root:root /root/.ssh/; \
in-target chmod 644 /root/.ssh/authorized_keys; \
in-target chmod 700 /root/.ssh/

# Grub
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string /dev/sda
d-i grub-installer/bootdev string default

# Reboot
d-i finish-install/reboot_in_progress note
